<style>
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  </style>
<div class="container">
  <div class="circulos">
    <div class="circulo1"></div>
    <div class="circulo2"></div>
    <div class="circulo3"></div>
  </div>
  <div class="conteudo">
    <div class="lugarfotos">
      <img class="imagemlgbt" src="assets/imagens/lgbt.png">
    </div>
  </div>
  <div class="textos">
  <div class="textoinicial">
        <p>UAI FESTAS</p>
  </div>
  <div class="segundotexto">
    <p>Procurando o que fazer <br>
       em Beagá? <br>
        vem cá uai!</p>
  </div>
  </div>
  <div class="botao">
  <button class="botaoform">Comece já</button>
  </div>
</div>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
